<h1>GeekTwitter</h1>
<h3>Tweet詳細</h3>
<div class="tweet"> 
  <p>スクール名:<%= @tweet.schoolmei %></p>
  <p>住所:<%= @tweet.jyusho %></p>
  <p>画像:<% if @tweet.image.attached? %>
    <%= image_tag @tweet.image, size: '250x200'%>
<% end %> 
  <p>内容:<%= @tweet.naiyou %></p>
  <%= link_to "編集する", edit_tweet_path(@tweet.id) %>
  <%= button_to "削除する", tweet_path(@tweet.id), method: :delete %> 

</div>



<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "Tweet一覧に戻る", tweets_path %>
