<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="perfume-container">
        <div class="col-12">
            <p>Q1. 今のあなたの学校との距離感は...？</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question1, "1", id: "custom_id1" %>
            <label for="custom_id1">ほとんど行けていない／行くことを考えるとつらい</label>
            <%= f.radio_button :question1, "2", id: "custom_id2" %>
            <label for="custom_id2">行けない日もあるが、学校とのつながりは残したい</label>
        </div>
        <div class="col-12">
            <p>Q2. 人との関わりについて近いのは？...?</p>
        </div> 
        <div class="col-6">
            <%= f.radio_button :question2, "1", id: "custom_id3" %>
            <label for="custom_id3">少人数・落ち着いた関係の方が安心できる</label>
            <%= f.radio_button :question2, "2", id: "custom_id4" %>
            <label for="custom_id4">ある程度人がいる環境でも大丈夫</label>
        </div>   
        <div class="col-12">
            <p>Q3. 勉強について今の気持ちは...?</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question3, "1", id: "custom_id5" %>
            <label for="custom_id5">今は無理せず、気持ちや生活を整えたい</label>
            <%= f.radio_button :question3, "2", id: "custom_id6" %>
            <label for="custom_id6">自分のペースでもいいから学びは続けたい</label>
        </div>
    
        <div class="col-12">
            <p>Q4. 高校卒業や進路については…?</p>
        </div>
        <div class="col-6">
            <%= f.radio_button :question4, "1", id: "custom_id7" %>
            <label for="custom_id7">まだ先のことは考えられない</label>
            <%= f.radio_button :question4, "2", id: "custom_id8" %>
            <label for="custom_id8">卒業資格や進学のことも少し気になっている</label>
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit " 結果 " %>
    </div>
<% end %>